@import "sanitize.css";

#root {
  height: 100vh;
  line-height: 1.5;
}

.room {
  height: 100%;
  background-color: #191b1f;
  display: flex;
  flex-flow: column nowrap;
}
.home {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 4rem;
  position: relative;
}
.home[hidden] {
  display: none;
}
.bg {
  position: absolute;
  inset: 0;
  pointer-events: none;
}
.bg-row {
  font-family: "Cascadia Mono", monospace;
  font-size: calc(1rem + 10vw);
  transform: translateX(-0.25em);
  color: #f1f5f9;
  line-height: 1.42857;
}
.room .bg-row {
  transform: translate(1rem, 1rem);
  font-size: 1rem;
  color: #475569;
}

.buttons {
  justify-self: flex-end;
  width: 400px;
  text-align: right;
  padding: 4rem;
}

.btn {
  margin-left: 3rem;
  margin-bottom: 3rem;
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
  position: relative;
}
.btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 24px;
  background-color: #2563eb;
  font-size: 3rem;
  color: #fff;
  transition: background-color 0.3s ease;
}
.btn-icon:hover {
  background-color: #3b82f6;
}
.btn-icon:active {
  background-color: #1d4ed8;
  transition: background-color 0s;
}
.btn-icon.new {
  background-color: #ea580c;
}
.btn:disabled .btn-icon {
  background-color: #e5e7eb;
  cursor: not-allowed;
}

.btn-text {
  position: absolute;
  top: 100%;
  white-space: nowrap;
  line-height: 24px;
  font-size: 1rem;
}
.btn:disabled .btn-text {
  cursor: not-allowed;
}

.i-mdi-loading {
  animation: spin 0.5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.room-info {
  max-width: 500px;
  padding-bottom: 120px;
  border: 1px solid #e5e7eb;
  border-radius: 16px;
  overflow: hidden;
}

.datetime {
  padding: 40px 80px;
  color: #fff;
  background-color: #334155;
  font-variant-numeric: tabular-nums;
}
.time {
  font-size: 3rem;
  text-align: center;
}
.date {
  text-align: center;
}
.actions {
  display: flex;
  padding: 20px;
  align-items: flex-start;
}
.info {
  flex: 1;
}
.info-title {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.info-time {
  font-variant-numeric: tabular-nums;
}
.action-start {
  display: inline-flex;
  align-items: center;
  border: 0;
  border-radius: 8px;
  padding: 6px 12px;
  background: #e5e7eb;
  cursor: pointer;
}

.tabs {
  height: 100%;
  display: flex;
}
.tab {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  color: #fff;
}
.tab2 {
  width: 30%;
  max-width: 320px;
  border-left: 1px solid #3f3f46;
  background-color: #f9fafb;
}
.users {
  display: flex;
  flex-flow: column nowrap;
}
.users-title {
  margin: 0;
  padding: 1rem 1.5rem 0.5rem;
  font-size: 1rem;
}
.user {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem 1.5rem;
}
.user i {
  font-size: 1.25rem;
}
.user.local i {
  color: #ea580c;
}
.flex-1 {
  flex: 1;
}

.tracks {
  flex: 1;
  position: relative;
}
.share-screen {
  position: absolute;
  inset: 0;
  z-index: 100;
}
.controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #21242c;
  color: #fff;
  padding: 0.5rem 1rem;
}
.controls .btn {
  margin: 0;
  padding: 0.5rem 1rem;
  width: 72px;
  font-size: 2rem;
  color: #4b5563;
}
.controls .btn:not(:disabled):hover {
  color: #9ca3af;
}
.controls .btn-text {
  position: static;
  font-size: 0.85rem;
}
.controls .btn.active {
  color: #f3f4f6;
}
.controls .btn:disabled {
  cursor: not-allowed;
}
.controls .btn-quit {
  color: #dc2626;
}
.controls .btn-quit:hover {
  color: #f87171;
}

.user-name {
  position: absolute;
  left: 8px;
  bottom: 5px;
}
.arr-user-body > .arr-user-control {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.layout-item {
  width: auto;
  height: auto;
  display: flex;
  flex: 0 1 25%;
}

.layout[data-size="1"] > .layout-item {
  flex: 0 1 100%;
}

.layout[data-size="2"] > .layout-item,
.layout[data-size="3"] > .layout-item,
.layout[data-size="4"] > .layout-item {
  flex: 0 1 50%;
}

.layout[data-size="5"] > .layout-item,
.layout[data-size="6"] > .layout-item,
.layout[data-size="7"] > .layout-item,
.layout[data-size="8"] > .layout-item,
.layout[data-size="9"] > .layout-item {
  flex: 0 1 33.333333%;
}

.agora_video_player {
  object-fit: contain !important;
}
