.btn {
  display: inline-flex;
  flex-direction: column;
  background-color: transparent;
  border: 0;
  padding: .25rem .5rem;
  appearance: none;
  cursor: pointer;
  align-items: center;
  font-size: 0;
  color: inherit;
}
.btn > i {
  font-size: 2rem;
}
.btn > span {
  font-size: .75rem;
}
.remote > .label > i {
  font-size: 1rem;
}
