html {
  background: #000;
}

.agora-rtc-icon-stroke-color {
  stroke: #d1d5db;
}

.agora-rtc-icon-fill-color {
  fill: #d1d5db;
}

.btn {
  display: inline-flex;
  flex-direction: column;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  appearance: none;
  cursor: pointer;
  align-items: center;
  font-size: 0;
  color: inherit;
}
.btn:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.btn > i {
  font-size: 2rem;
}
.btn > span {
  font-size: 0.75rem;
}
.remote > .label > i {
  font-size: 1rem;
}
