# https://docs.agora.io/en/video-calling/reference/manage-agora-account?platform=web#get-the-app-id
AGORA_APPID=

# https://docs.agora.io/en/video-calling/reference/manage-agora-account?platform=web#generate-a-temporary-token
AGORA_CHANNEL=test

# if Security is Disabled in the Agora Console, leave this to blank
AGORA_TOKEN=
